:root {
    --primary: #F3E6BB;
    --black: #333333;
    --width-break: 600px;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Square Peg', cursive;
    color: #333333;
}


textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}

element.style {
    padding: 1rem;
    font-size: large;
}

#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    border: 1px solid var(--black);
}

nav {
    background-color: var(--primary);
    text-align: center;
}


* {
    box-sizing: border-box;
}

/** footer **/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
    display: block;
}